# Logistic Regression Model

## Data Import And Cleaning

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import recall_score, precision_score, confusion_matrix
from sklearn.metrics import roc_curve, auc
import scripts.logistic_regression_functions as lrf
import scripts.helper_functions as hf
from sklearn.preprocessing import StandardScaler

#reloads the module with the most recent updates
%load_ext autoreload
%aimport scripts.logistic_regression_functions, scripts.helper_functions
%autoreload 2

C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
train_files = ['../../data/cleaned/utah_2017_vineyard.csv', 
               '../../data/cleaned/utah_2017_marina.csv']

test_files = [ '../../data/cleaned/utah_2018_marina.csv',
               '../../data/cleaned/utah_2018_bird.csv']

drop_columns = ['Chlorophyll ug/L', 'Chlorophyll RFU', 'Wiper Pos V',
                'Cable Pwr V', 'Battery V', 'Chlorophyll (ug/L)', 'FDOM RFU']

x_columns = ['Temp C', 'Sp Cond (uS/cm)', 'pH (mV)', 'pH', 'Turbidity (NTU)',
            'ODOSat%', 'ODO (mg/L)']

target_column = 'BGA-Phycocyanin RFU'

# TODO Create average off of minor bloom
RFU_THRESHOLD = 1.2
train_index = 0
test_index = 0

In [3]:
# Load the data
train_dfs = lrf.import_df_data(train_files, drop_columns)
test_dfs = lrf.import_df_data(test_files, drop_columns)

train_dfs[train_index].head()

,Date (mm.dd.yyyy),Time 24hr,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU
0,5/5/2017,0:00,15.02,1848,-100.1,8.36,16.84,90.2,9.04,0.4
1,5/5/2017,0:15,14.99,1847,-100.1,8.36,16.76,90.2,9.04,0.4
2,5/5/2017,0:30,14.96,1847,-100.1,8.36,16.82,90.1,9.04,0.4
3,5/5/2017,0:45,14.95,1848,-100.1,8.36,17.19,90.0,9.03,0.4
4,5/5/2017,1:00,14.92,1848,-100.0,8.36,16.85,89.8,9.02,0.4

## Use Datetime Index

In [4]:
print(test_dfs[test_index].dtypes)
print(train_dfs[train_index].dtypes)

Time America/Boise UTC-06:00     object
Temp C                          float64
Sp Cond (uS/cm)                   int64
pH (mV)                         float64
pH                              float64
Turbidity (NTU)                 float64
ODOSat%                         float64
ODO (mg/L)                      float64
BGA-Phycocyanin RFU             float64
dtype: object
Date (mm.dd.yyyy)       object
Time 24hr               object
Temp C                 float64
Sp Cond (uS/cm)          int64
pH (mV)                float64
pH                     float64
Turbidity (NTU)        float64
ODOSat%                float64
ODO (mg/L)             float64
BGA-Phycocyanin RFU    float64
dtype: object

In [5]:
# We will need to engineer a datetime column for our 2017 data

# Create a single datetime column from the strings provided in our csv's
for i in range(0, len(train_dfs)):
    timestamp = train_dfs[i]['Date (mm.dd.yyyy)'] + ' '+ train_dfs[i]['Time 24hr']
    timestamp = pd.to_datetime(timestamp)
    train_dfs[i]['timestamp'] = timestamp
    train_dfs[i]['datetime'] = timestamp
    train_dfs[i] = train_dfs[i].set_index('timestamp')
    train_dfs[i] = train_dfs[i].drop(columns=['Date (mm.dd.yyyy)', 'Time 24hr'])
train_dfs[train_index].head()

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,datetime
timestamp,,,,,,,,,
2017-05-05 00:00:00,15.02,1848,-100.1,8.36,16.84,90.2,9.04,0.4,2017-05-05 00:00:00
2017-05-05 00:15:00,14.99,1847,-100.1,8.36,16.76,90.2,9.04,0.4,2017-05-05 00:15:00
2017-05-05 00:30:00,14.96,1847,-100.1,8.36,16.82,90.1,9.04,0.4,2017-05-05 00:30:00
2017-05-05 00:45:00,14.95,1848,-100.1,8.36,17.19,90.0,9.03,0.4,2017-05-05 00:45:00
2017-05-05 01:00:00,14.92,1848,-100.0,8.36,16.85,89.8,9.02,0.4,2017-05-05 01:00:00

In [6]:
# Now to datetime index our 2018 data
for i in range(0, len(test_dfs)):
    timestamp = pd.to_datetime(test_dfs[i]['Time America/Boise UTC-06:00'])
    test_dfs[i]['timestamp'] = timestamp
    test_dfs[i]['datetime'] = timestamp
    test_dfs[i] = test_dfs[i].set_index('timestamp')
    test_dfs[i] = test_dfs[i].drop(columns=['Time America/Boise UTC-06:00'])
test_dfs[test_index].head()

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,datetime
timestamp,,,,,,,,,
2018-04-11 10:30:00,11.88,1782,-146.1,8.20,42.49,89.1,9.58,0.6,2018-04-11 10:30:00
2018-04-11 10:45:00,11.78,1783,-143.7,8.15,42.89,87.4,9.42,0.6,2018-04-11 10:45:00
2018-04-11 11:00:00,11.79,1784,-144.3,8.17,41.24,89.0,9.58,0.7,2018-04-11 11:00:00
2018-04-11 11:15:00,11.66,1783,-143.1,8.14,42.65,87.1,9.41,0.7,2018-04-11 11:15:00
2018-04-11 11:30:00,11.68,1784,-143.5,8.15,42.06,87.5,9.45,0.7,2018-04-11 11:30:00

## Import And Clean Weather Data

In [7]:
weather = pd.read_csv('../../data/cleaned/daily_weather_metric_2017_2018.csv')
weather.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,EVAP,MDPR,MNPN,...,TMAX,TMIN,TOBS,WESD,WESF,WT01,WT03,WT04,WT05,WT11
0,USC00427064,"PROVO BYU, UT US",40.2458,-111.6508,1392.9,5/1/2017,NaN,NaN,NaN,NaN,...,18.9,7.2,13.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,USC00427064,"PROVO BYU, UT US",40.2458,-111.6508,1392.9,5/2/2017,NaN,NaN,NaN,NaN,...,19.4,7.8,17.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,USC00427064,"PROVO BYU, UT US",40.2458,-111.6508,1392.9,5/3/2017,NaN,NaN,NaN,NaN,...,21.7,4.4,21.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,USC00427064,"PROVO BYU, UT US",40.2458,-111.6508,1392.9,5/4/2017,NaN,NaN,NaN,NaN,...,26.7,6.7,26.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,USC00427064,"PROVO BYU, UT US",40.2458,-111.6508,1392.9,5/5/2017,NaN,NaN,NaN,NaN,...,31.7,8.9,30.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Find out how much of the data is missing for each column.
drop_columns = []
missing_threshold = .05
for column in weather.columns:
    number_null = np.sum(weather[column].isnull())
    column_length = len(weather[column])
    should_drop_column = (number_null / column_length) > missing_threshold
    print('{} percent null: {:.1f}%'.format(column, (number_null / column_length) * 100))
    if should_drop_column:
        drop_columns.append(column)
print('dropping columns: {}'.format(drop_columns))
weather = weather.drop(drop_columns, axis=1)

STATION percent null: 0.0%
NAME percent null: 0.0%
LATITUDE percent null: 0.0%
LONGITUDE percent null: 0.0%
ELEVATION percent null: 0.0%
DATE percent null: 0.0%
DAPR percent null: 99.7%
EVAP percent null: 50.6%
MDPR percent null: 99.7%
MNPN percent null: 50.9%
MXPN percent null: 50.9%
PRCP percent null: 0.9%
SNOW percent null: 0.5%
SNWD percent null: 0.5%
TAVG percent null: 100.0%
TMAX percent null: 0.2%
TMIN percent null: 0.0%
TOBS percent null: 0.5%
WESD percent null: 100.0%
WESF percent null: 100.0%
WT01 percent null: 100.0%
WT03 percent null: 99.5%
WT04 percent null: 100.0%
WT05 percent null: 100.0%
WT11 percent null: 100.0%
dropping columns: ['DAPR', 'EVAP', 'MDPR', 'MNPN', 'MXPN', 'TAVG', 'WESD', 'WESF', 'WT01', 'WT03', 'WT04', 'WT05', 'WT11']

In [9]:
# Drop the columns we will not be using.
weather = weather.drop(columns=['STATION','NAME','LATITUDE','LONGITUDE','ELEVATION', 'TOBS'])

In [10]:
weather['DATE'] = pd.to_datetime(weather['DATE'])
# Set a datetime index for convenience
weather['timestamp'] = weather['DATE']
weather = weather.set_index('timestamp')
weather.dtypes

DATE    datetime64[ns]
PRCP           float64
SNOW           float64
SNWD           float64
TMAX           float64
TMIN           float64
dtype: object

In [11]:
weather['DATE'] = weather['DATE'].apply(lambda x: x.date())

In [12]:
count = 0
total = len(train_dfs + test_dfs)
for df in train_dfs + test_dfs:
    count += 1
    print("starting dataframe {}/{}".format(count, total))
    for column in weather.drop(columns='DATE').columns:
        print("adding series for column:", column)
        values = []
        old_datetime = None
        value = None
        for datetime in df['datetime']:
            datetime = datetime.date()
            if datetime != old_datetime:
                old_datetime = datetime
                value = weather[weather['DATE'] == datetime][column]
            values.append(value.values[0] if len(value.values) > 0 else np.nan)
        df[column] = values

starting dataframe 1/4
adding series for column: PRCP
adding series for column: SNOW
adding series for column: SNWD
adding series for column: TMAX
adding series for column: TMIN
starting dataframe 2/4
adding series for column: PRCP
adding series for column: SNOW
adding series for column: SNWD
adding series for column: TMAX
adding series for column: TMIN
starting dataframe 3/4
adding series for column: PRCP
adding series for column: SNOW
adding series for column: SNWD
adding series for column: TMAX
adding series for column: TMIN
starting dataframe 4/4
adding series for column: PRCP
adding series for column: SNOW
adding series for column: SNWD
adding series for column: TMAX
adding series for column: TMIN

### Import and Clean Wind Data

In [13]:
weather_files = ['../../data/raw_data/weather/provo_airport_2017', '../../data/raw_data/weather/provo_airport_2018']
# the array to store the readings in
contents = []

# Extract the weather data in the ISD format
for file in weather_files:
    contents.append(hf.extract_weather_data(file))

In [14]:
# the dfs containing the wind information for the readings.
wind_frame_2017 = pd.DataFrame(columns=["angle","speed"])
wind_frame_2018 = pd.DataFrame(columns=["angle","speed"])


wind_frames = [wind_frame_2017, wind_frame_2018]
for i in range(len(contents)):
    wind_dict = {}
    for reading in contents[i]:
        reading.GPO_timestamp = hf.round_time(reading.GPO_timestamp)

        # no key value made yet
        if reading.GPO_timestamp not in wind_dict.keys():
            # check to see if the readings are valid
            # Sets them to 'invalid' so that when we inpute them it can be handled
            if reading.WO_wind_angle == '999':
                reading.WO_wind_angle = np.nan
            else:
                reading.WO_wind_angle = int(reading.WO_wind_angle)
            if reading.WO_wind_speed == '9999':
                reading.WO_wind_speed = np.nan
            else:
                reading.WO_wind_speed = int(reading.WO_wind_speed)
            wind_dict[reading.GPO_timestamp] = [reading.WO_wind_angle, reading.WO_wind_speed]
    wind_frames[i] = pd.DataFrame.from_dict(wind_dict, orient='index')
    wind_frames[i] = wind_frames[i].rename(columns={0:'Wind Angle', 1:'Wind Speed'})

In [15]:
#we need to join the wind data now to the existing dataframes, but the dont care about

for i in range(len(train_dfs)):
    # train dfs is the 2017 data set so we need to set the wind frame to that 
    # dataset
    train_dfs[i] = train_dfs[i].join(wind_frames[0])
for i in range(len(test_dfs)):
    # test dfs is the 2018 data set so we need to set the wind frame to that
    # dataset
    test_dfs[i] = test_dfs[i].join(wind_frames[1])

In [16]:
train_dfs[train_index].head(5)

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,datetime,PRCP,SNOW,SNWD,TMAX,TMIN,Wind Angle,Wind Speed
timestamp,,,,,,,,,,,,,,,,
2017-05-05 00:00:00,15.02,1848,-100.1,8.36,16.84,90.2,9.04,0.4,2017-05-05 00:00:00,0.0,0.0,0.0,31.7,8.9,250.0,26.0
2017-05-05 00:15:00,14.99,1847,-100.1,8.36,16.76,90.2,9.04,0.4,2017-05-05 00:15:00,0.0,0.0,0.0,31.7,8.9,NaN,NaN
2017-05-05 00:30:00,14.96,1847,-100.1,8.36,16.82,90.1,9.04,0.4,2017-05-05 00:30:00,0.0,0.0,0.0,31.7,8.9,NaN,NaN
2017-05-05 00:45:00,14.95,1848,-100.1,8.36,17.19,90.0,9.03,0.4,2017-05-05 00:45:00,0.0,0.0,0.0,31.7,8.9,NaN,NaN
2017-05-05 01:00:00,14.92,1848,-100.0,8.36,16.85,89.8,9.02,0.4,2017-05-05 01:00:00,0.0,0.0,0.0,31.7,8.9,240.0,26.0

In [17]:
test_dfs[test_index].head(5)

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,datetime,PRCP,SNOW,SNWD,TMAX,TMIN,Wind Angle,Wind Speed
timestamp,,,,,,,,,,,,,,,,
2018-04-11 10:30:00,11.88,1782,-146.1,8.20,42.49,89.1,9.58,0.6,2018-04-11 10:30:00,0.0,0.0,0.0,25.0,10.0,NaN,NaN
2018-04-11 10:45:00,11.78,1783,-143.7,8.15,42.89,87.4,9.42,0.6,2018-04-11 10:45:00,0.0,0.0,0.0,25.0,10.0,NaN,NaN
2018-04-11 11:00:00,11.79,1784,-144.3,8.17,41.24,89.0,9.58,0.7,2018-04-11 11:00:00,0.0,0.0,0.0,25.0,10.0,300.0,62.0
2018-04-11 11:15:00,11.66,1783,-143.1,8.14,42.65,87.1,9.41,0.7,2018-04-11 11:15:00,0.0,0.0,0.0,25.0,10.0,NaN,NaN
2018-04-11 11:30:00,11.68,1784,-143.5,8.15,42.06,87.5,9.45,0.7,2018-04-11 11:30:00,0.0,0.0,0.0,25.0,10.0,NaN,NaN

Need to deal with the NaNs in the dataframe for the WInd Angle and Wind Speed. There is a couple of ways that we can do this. One way is to assume that the wind doesn't change direction from the last valid responce (or the next in the case where the first entry is a NaN) or to assume that weather acts predictibly and will change direction and angle easily from entry to entry. 

I.E first entry 120 angle and 36 m/s speed, second (valid) entry 160 angle and 24 m/s speed slowing pan the angle inbetween and decrese the speed throughout so the entrries would look something like this:

From:

|Time Stamp|angle | speed |
|--|--|--|
|2018-04-11 12:00:00|120|36|
|2018-04-11 12:15:00|NaN|NaN|
|2018-04-11 12:30:00|NaN|NaN|
|2018-04-11 12:45:00|NaN|NaN|
|2018-04-11 13:00:00|160|24|

To:

|Time Stamp|angle | speed |
|--|--|--|
|2018-04-11 12:00:00|120|36|
|2018-04-11 12:15:00|130|33 |
|2018-04-11 12:30:00|140|30 |
|2018-04-11 12:45:00|150|27 |
|2018-04-11 13:00:00|160|24 |

In [18]:
for i in range(len(train_dfs)):
    train_dfs[i]['Wind Angle'] = train_dfs[i]['Wind Angle'].interpolate(limit_direction='both')
    train_dfs[i]['Wind Speed'] = train_dfs[i]['Wind Speed'].interpolate(limit_direction='both')
for i in range(len(test_dfs)):
    #test dfs is the 2018 data set so we need to set the wind frame to that dataset
    test_dfs[i]['Wind Angle'] = test_dfs[i]['Wind Angle'].interpolate(limit_direction='both')
    test_dfs[i]['Wind Speed'] = test_dfs[i]['Wind Speed'].interpolate(limit_direction='both')

In [19]:
train_dfs[train_index].head(5)

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,datetime,PRCP,SNOW,SNWD,TMAX,TMIN,Wind Angle,Wind Speed
timestamp,,,,,,,,,,,,,,,,
2017-05-05 00:00:00,15.02,1848,-100.1,8.36,16.84,90.2,9.04,0.4,2017-05-05 00:00:00,0.0,0.0,0.0,31.7,8.9,250.0,26.0
2017-05-05 00:15:00,14.99,1847,-100.1,8.36,16.76,90.2,9.04,0.4,2017-05-05 00:15:00,0.0,0.0,0.0,31.7,8.9,247.5,26.0
2017-05-05 00:30:00,14.96,1847,-100.1,8.36,16.82,90.1,9.04,0.4,2017-05-05 00:30:00,0.0,0.0,0.0,31.7,8.9,245.0,26.0
2017-05-05 00:45:00,14.95,1848,-100.1,8.36,17.19,90.0,9.03,0.4,2017-05-05 00:45:00,0.0,0.0,0.0,31.7,8.9,242.5,26.0
2017-05-05 01:00:00,14.92,1848,-100.0,8.36,16.85,89.8,9.02,0.4,2017-05-05 01:00:00,0.0,0.0,0.0,31.7,8.9,240.0,26.0

In [20]:
test_dfs[test_index].head(5)

,Temp C,Sp Cond (uS/cm),pH (mV),pH,Turbidity (NTU),ODOSat%,ODO (mg/L),BGA-Phycocyanin RFU,datetime,PRCP,SNOW,SNWD,TMAX,TMIN,Wind Angle,Wind Speed
timestamp,,,,,,,,,,,,,,,,
2018-04-11 10:30:00,11.88,1782,-146.1,8.20,42.49,89.1,9.58,0.6,2018-04-11 10:30:00,0.0,0.0,0.0,25.0,10.0,300.0,62.0
2018-04-11 10:45:00,11.78,1783,-143.7,8.15,42.89,87.4,9.42,0.6,2018-04-11 10:45:00,0.0,0.0,0.0,25.0,10.0,300.0,62.0
2018-04-11 11:00:00,11.79,1784,-144.3,8.17,41.24,89.0,9.58,0.7,2018-04-11 11:00:00,0.0,0.0,0.0,25.0,10.0,300.0,62.0
2018-04-11 11:15:00,11.66,1783,-143.1,8.14,42.65,87.1,9.41,0.7,2018-04-11 11:15:00,0.0,0.0,0.0,25.0,10.0,255.0,55.5
2018-04-11 11:30:00,11.68,1784,-143.5,8.15,42.06,87.5,9.45,0.7,2018-04-11 11:30:00,0.0,0.0,0.0,25.0,10.0,210.0,49.0

## Base Models

In [21]:
## Simple Model with window size = 15 minutes.
current_x_window = pd.Timedelta('15 min')
max_iter = 25000
loss = 'log'


# add the weather columns to our x_columns
x_columns = list(set(x_columns + 
                     ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 
                      'rainy', 'Wind Speed', 'Wind Angle']))

print("Windowizing 2017 data sets")
train = hf.data_window_reduction(
    train_dfs[0], 'datetime', target_column, 
    x_win_size=current_x_window)
train = train.append(hf.data_window_reduction(
    train_dfs[1], 'datetime', target_column, 
    x_win_size=current_x_window))
print("Windowizing 2018 data sets")
test = hf.data_window_reduction(
    test_dfs[0], 'datetime', target_column,
    x_win_size=current_x_window)
test = test.append(hf.data_window_reduction(
    test_dfs[1], 'datetime', target_column,
    x_win_size=current_x_window))
print()

#Add rainy column
for df in [test, train]:
    df['rainy'] = df['PRCP'].apply(
        lambda x: 1 if x > 0 else 0).astype('category')

#Add target columns
lrf.add_target_column([train, test], threshold=RFU_THRESHOLD)

# Sort columns by accuracy
model = SGDClassifier(max_iter=max_iter, loss=loss)
# sorted_columns = lrf.sort_columns_by_metric(model, train, 
#                                             test,
#                                             x_columns,
#                                             'bloom', verbose=0)
# Create greedy model
model = SGDClassifier(max_iter=max_iter, loss=loss)
# accuracy, recall, precision, cm, predictions, _, _ = lrf.greedy_model(
#     model, train, test, x_columns,'bloom', sorted_columns )
accuracy, recall, precision, cm, predictions, _, _ = lrf.train_model(
    model, train, test, x_columns,'bloom' )
print("accuracy", accuracy)
print("recall", recall)
print("precision", precision)
print()

Windowizing 2017 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Windowizing 2018 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...

accuracy 0.7564841498559077
recall 0.7952941176470588
precision 0.8047619047619048

In [22]:
## Simple Model with window size = 28 days.
current_x_window = pd.Timedelta('28 days')


# add the weather columns to our x_columns
x_columns = list(set(x_columns + 
                     ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 
                      'rainy', 'Wind Speed', 'Wind Angle']))

print("Windowizing 2017 data sets")
train = hf.data_window_reduction(
    train_dfs[0], 'datetime', target_column, 
    x_win_size=current_x_window)
train = train.append(hf.data_window_reduction(
    train_dfs[1], 'datetime', target_column, 
    x_win_size=current_x_window))
print("Windowizing 2018 data sets")
test = hf.data_window_reduction(
    test_dfs[0], 'datetime', target_column,
    x_win_size=current_x_window)
test = test.append(hf.data_window_reduction(
    test_dfs[1], 'datetime', target_column,
    x_win_size=current_x_window))
print()

#Add rainy column
for df in [test, train]:
    df['rainy'] = df['PRCP'].apply(
        lambda x: 1 if x > 0 else 0).astype('category')

#Add target columns
lrf.add_target_column([train, test], threshold=RFU_THRESHOLD)

# Sort columns by accuracy
model = SGDClassifier(max_iter=max_iter, loss=loss)
# sorted_columns = lrf.sort_columns_by_metric(model, train, 
#                                             test,
#                                             x_columns,
#                                             'bloom', verbose=0)
# Create greedy model
model = SGDClassifier(max_iter=max_iter, loss=loss)
# accuracy, recall, precision, cm, predictions, _, _ = lrf.greedy_model(
#     model, train, test, x_columns,'bloom', sorted_columns )
accuracy, recall, precision, cm, predictions, _, _ = lrf.train_model(
    model, train, test, x_columns,'bloom' )
print("accuracy", accuracy)
print("recall", recall)
print("precision", precision)
print()

Windowizing 2017 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Windowizing 2018 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...

accuracy 0.7591973244147158
recall 0.7559681697612732
precision 0.8456973293768546

In [23]:
## Greedy Model with window size = 15 minutes.
current_x_window = pd.Timedelta('15 min')
max_iter = 25000
loss = 'log'


# add the weather columns to our x_columns
x_columns = list(set(x_columns + 
                     ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 
                      'rainy', 'Wind Speed', 'Wind Angle']))

print("Windowizing 2017 data sets")
train = hf.data_window_reduction(
    train_dfs[0], 'datetime', target_column, 
    x_win_size=current_x_window)
train = train.append(hf.data_window_reduction(
    train_dfs[1], 'datetime', target_column, 
    x_win_size=current_x_window))
print("Windowizing 2018 data sets")
test = hf.data_window_reduction(
    test_dfs[0], 'datetime', target_column,
    x_win_size=current_x_window)
test = test.append(hf.data_window_reduction(
    test_dfs[1], 'datetime', target_column,
    x_win_size=current_x_window))
print()

#Add rainy column
for df in [test, train]:
    df['rainy'] = df['PRCP'].apply(
        lambda x: 1 if x > 0 else 0).astype('category')

#Add target columns
lrf.add_target_column([train, test], threshold=RFU_THRESHOLD)

# Sort columns by accuracy
model = SGDClassifier(max_iter=max_iter, loss=loss)
sorted_columns = lrf.sort_columns_by_metric(model, train, 
                                            test,
                                            x_columns,
                                            'bloom', verbose=0)
# Create greedy model
model = SGDClassifier(max_iter=max_iter, loss=loss)
accuracy, recall, precision, cm, predictions, _, _ = lrf.greedy_model(
    model, train, test, x_columns,'bloom', sorted_columns )

print("accuracy", accuracy)
print("recall", recall)
print("precision", precision)
print()

Windowizing 2017 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Windowizing 2018 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...

C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

base_columns: []
sorted_columns: ['pH', 'TMIN', 'pH (mV)', 'Temp C', 'TMAX', 'ODOSat%', 'Turbidity (NTU)', 'ODO (mg/L)', 'rainy', 'SNWD', 'Wind Speed', 'Wind Angle', 'SNOW', 'Sp Cond (uS/cm)', 'PRCP']
adjusted sorted_columns: ['pH', 'TMIN', 'pH (mV)', 'Temp C', 'TMAX', 'ODOSat%', 'Turbidity (NTU)', 'ODO (mg/L)', 'rainy', 'SNWD', 'Wind Speed', 'Wind Angle', 'SNOW', 'Sp Cond (uS/cm)', 'PRCP']
Training model with: ['pH']
Test model accuracy: 0.6959654178674352
Test model recall: 0.7741176470588236
Test model precision: 0.740990990990991

Updating greedy model

Training model with: ['pH', 'TMIN']
Test model accuracy: 0.729106628242075
Test model recall: 0.8141176470588235
Test model precision: 0.7604395604395604

Updating greedy model

Training model with: ['pH', 'TMIN', 'pH (mV)']
Test model accuracy: 0.6757925072046109
Test model recall: 0.8494117647058823
Test model precision: 0.6915708812260536

Training model with: ['pH', 'TMIN', 'Temp C']
Test model accuracy: 0.7334293948126801
Test model recall: 0.8141176470588235
Test model precision: 0.7654867256637168

Updating greedy model

Training model with: ['pH', 'TMIN', 'Temp C', 'TMAX']
Test model accuracy: 0.7219020172910663
Test model recall: 0.8070588235294117
Test model precision: 0.7555066079295154

Training model with: ['pH', 'TMIN', 'Temp C', 'ODOSat%']
Test model accuracy: 0.7305475504322767
Test model recall: 0.8070588235294117
Test model precision: 0.765625

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)']
Test model accuracy: 0.7435158501440923
Test model recall: 0.8141176470588235
Test model precision: 0.7775280898876404

Updating greedy model

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)']
Test model accuracy: 0.7478386167146974
Test model recall: 0.8023529411764706
Test model precision: 0.7893518518518519

Updating greedy model

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'rainy']
Test model accuracy: 0.7478386167146974
Test model recall: 0.8047058823529412
Test model precision: 0.7880184331797235

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'SNWD']
Test model accuracy: 0.7478386167146974
Test model recall: 0.8023529411764706
Test model precision: 0.7893518518518519

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'Wind Speed']
Test model accuracy: 0.7463976945244957
Test model recall: 0.8023529411764706
Test model precision: 0.7875288683602771

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'Wind Angle']
Test model accuracy: 0.7449567723342939
Test model recall: 0.7976470588235294
Test model precision: 0.7883720930232558

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'SNOW']
Test model accuracy: 0.7478386167146974
Test model recall: 0.8023529411764706
Test model precision: 0.7893518518518519

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'Sp Cond (uS/cm)']
Test model accuracy: 0.7492795389048992
Test model recall: 0.8070588235294117
Test model precision: 0.7885057471264367

Updating greedy model

Training model with: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'Sp Cond (uS/cm)', 'PRCP']
Test model accuracy: 0.7536023054755043
Test model recall: 0.8141176470588235
Test model precision: 0.7899543378995434

Updating greedy model

Final greedy columns: ['pH', 'TMIN', 'Temp C', 'Turbidity (NTU)', 'ODO (mg/L)', 'Sp Cond (uS/cm)', 'PRCP']
Final greedy accuracy 0.7536023054755043
Final greedy recall: 0.8141176470588235
Final greedy precision: 0.7899543378995434
Final greedy confusion matrix:
 [[177  92]
 [ 79 346]]
accuracy 0.7536023054755043
recall 0.8141176470588235
precision 0.7899543378995434

In [24]:
## Greedy Model with window size = 28 days.
current_x_window = pd.Timedelta('28 days')
max_iter = 25000
loss = 'log'


# add the weather columns to our x_columns
x_columns = list(set(x_columns + 
                     ['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 
                      'rainy', 'Wind Speed', 'Wind Angle']))

print("Windowizing 2017 data sets")
train = hf.data_window_reduction(
    train_dfs[0], 'datetime', target_column, 
    x_win_size=current_x_window)
train = train.append(hf.data_window_reduction(
    train_dfs[1], 'datetime', target_column, 
    x_win_size=current_x_window))
print("Windowizing 2018 data sets")
test = hf.data_window_reduction(
    test_dfs[0], 'datetime', target_column,
    x_win_size=current_x_window)
test = test.append(hf.data_window_reduction(
    test_dfs[1], 'datetime', target_column,
    x_win_size=current_x_window))
print()

#Add rainy column
for df in [test, train]:
    df['rainy'] = df['PRCP'].apply(
        lambda x: 1 if x > 0 else 0).astype('category')

#Add target columns
lrf.add_target_column([train, test], threshold=RFU_THRESHOLD)

# Sort columns by accuracy
model = SGDClassifier(max_iter=max_iter, loss=loss)
sorted_columns = lrf.sort_columns_by_metric(model, train, 
                                            test,
                                            x_columns,
                                            'bloom', verbose=0)
# Create greedy model
model = SGDClassifier(max_iter=max_iter, loss=loss)
accuracy, recall, precision, cm, predictions, _, _ = lrf.greedy_model(
    model, train, test, x_columns,'bloom', sorted_columns )

print("accuracy", accuracy)
print("recall", recall)
print("precision", precision)
print()

Windowizing 2017 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Windowizing 2018 data sets
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...
Segmenting...
Extracting feature windows...
Extracting target windows...
Combining extractions...

C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\mccomackjp\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1143: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

base_columns: []
sorted_columns: ['TMIN', 'ODOSat%', 'Temp C', 'pH', 'TMAX', 'pH (mV)', 'ODO (mg/L)', 'Wind Speed', 'PRCP', 'rainy', 'Turbidity (NTU)', 'Wind Angle', 'SNOW', 'SNWD', 'Sp Cond (uS/cm)']
adjusted sorted_columns: ['TMIN', 'ODOSat%', 'Temp C', 'pH', 'TMAX', 'pH (mV)', 'ODO (mg/L)', 'Wind Speed', 'PRCP', 'rainy', 'Turbidity (NTU)', 'Wind Angle', 'SNOW', 'SNWD', 'Sp Cond (uS/cm)']
Training model with: ['TMIN']
Test model accuracy: 0.7909698996655519
Test model recall: 0.7851458885941645
Test model precision: 0.8705882352941177

Updating greedy model

Training model with: ['TMIN', 'ODOSat%']
Test model accuracy: 0.7525083612040134
Test model recall: 0.6339522546419099
Test model precision: 0.9598393574297188

Training model with: ['TMIN', 'Temp C']
Test model accuracy: 0.7909698996655519
Test model recall: 0.7851458885941645
Test model precision: 0.8705882352941177

Training model with: ['TMIN', 'pH']
Test model accuracy: 0.8478260869565217
Test model recall: 0.9071618037135278
Test model precision: 0.8592964824120602

Updating greedy model

Training model with: ['TMIN', 'pH', 'TMAX']
Test model accuracy: 0.8545150501672241
Test model recall: 0.9045092838196287
Test model precision: 0.8698979591836735

Updating greedy model

Training model with: ['TMIN', 'pH', 'TMAX', 'pH (mV)']
Test model accuracy: 0.7290969899665551
Test model recall: 0.986737400530504
Test model precision: 0.7032136105860114

Training model with: ['TMIN', 'pH', 'TMAX', 'ODO (mg/L)']
Test model accuracy: 0.8260869565217391
Test model recall: 0.8381962864721485
Test model precision: 0.8802228412256268

Training model with: ['TMIN', 'pH', 'TMAX', 'Wind Speed']
Test model accuracy: 0.8478260869565217
Test model recall: 0.8222811671087533
Test model precision: 0.9281437125748503

Training model with: ['TMIN', 'pH', 'TMAX', 'PRCP']
Test model accuracy: 0.8160535117056856
Test model recall: 0.9018567639257294
Test model precision: 0.8232445520581114

Training model with: ['TMIN', 'pH', 'TMAX', 'rainy']
Test model accuracy: 0.7976588628762542
Test model recall: 0.8992042440318302
Test model precision: 0.8033175355450237

Training model with: ['TMIN', 'pH', 'TMAX', 'Turbidity (NTU)']
Test model accuracy: 0.7591973244147158
Test model recall: 0.8753315649867374
Test model precision: 0.7728337236533958

Training model with: ['TMIN', 'pH', 'TMAX', 'Wind Angle']
Test model accuracy: 0.7993311036789298
Test model recall: 0.7877984084880637
Test model precision: 0.8813056379821959

Training model with: ['TMIN', 'pH', 'TMAX', 'SNOW']
Test model accuracy: 0.8545150501672241
Test model recall: 0.9045092838196287
Test model precision: 0.8698979591836735

Training model with: ['TMIN', 'pH', 'TMAX', 'SNWD']
Test model accuracy: 0.8545150501672241
Test model recall: 0.9045092838196287
Test model precision: 0.8698979591836735

Training model with: ['TMIN', 'pH', 'TMAX', 'Sp Cond (uS/cm)']
Test model accuracy: 0.8361204013377926
Test model recall: 0.9734748010610079
Test model precision: 0.8065934065934066

Final greedy columns: ['TMIN', 'pH', 'TMAX']
Final greedy accuracy 0.8545150501672241
Final greedy recall: 0.9045092838196287
Final greedy precision: 0.8698979591836735
Final greedy confusion matrix:
 [[170  51]
 [ 36 341]]
accuracy 0.8545150501672241
recall 0.9045092838196287
precision 0.8698979591836735

In [25]:
print(x_columns)

['PRCP', 'Sp Cond (uS/cm)', 'rainy', 'pH (mV)', 'ODOSat%', 'Wind Speed', 'Temp C', 'TMAX', 'Wind Angle', 'SNOW', 'pH', 'ODO (mg/L)', 'Turbidity (NTU)', 'TMIN', 'SNWD']